.reservationSection {
    width : 60vw;
    margin: 5em 0 0 0;
}
.reservationBody {
    width : 100svw;
    display: grid;
    justify-content: center;
}
.btnBG {
    background-color: var(--csGreen);
    color: var(--csGrey);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
}
.reservedBox {
    width: 100%;
    border-color: var(--csBlack);
    border-style: solid;
    border-width: 2px;
    padding: 10px 10px;
    border-radius: 16px;
}