@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');
:root {
  --csGreen: #495E57;
  --csYellow: #F4CE14;
  --csPeach: #EE9972;
  --csPink: #FBDABB;
  --csGrey: #EDEFEE;
  --csBlack: #333333;
}
.Hide {
  visibility: hidden;
  display: none;
}
.View {
  visibility: visible;
}

.Karla {
  font-family: "Karla";
}
.Markazi {
  font-family: "Markazi Text";
}
/* Header component */
.headerBody{
  width: 100vw;
  display: grid;
  justify-content: center;
}
.header {
  width: 90vw;
  display: flex;
  margin: 10px 20px 10px 20px;
  justify-content: space-evenly;
}
/* Nav component */
.nav {
  @media (min-width: 875px){
    display: flex; gap: 18px; text-wrap: nowrap; margin: 14px 0 10px 0;
  }
  @media (max-width: 875px){
    visibility: hidden;
    display: none;
  }
}

.navButton {
  @media (min-width: 875px){
   visibility: hidden;
   display: none;
  }
  @media (max-width: 875px){
    margin: 14px 0 10px 0;
  }
}

.navButtonOpen {
  @media (min-width: 875px){
    visibility: hidden;
    display: none;
   }
   @media (max-width: 875px){
     margin: 14px 0 10px 0;
   }
}
