@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');
:root {
  --csGreen: #495E57;
  --csYellow: #F4CE14;
  --csPeach: #EE9972;
  --csPink: #FBDABB;
  --csGrey: #EDEFEE;
  --csBlack: #333333;
}
.Hide {
  visibility: hidden;
  display: none;
}
.View {
  visibility: visible;
}

.Karla {
  font-family: "Karla";
}
.Markazi {
  font-family: "Markazi Text";
}
/* Header component */
.headerBody{
  width: 100vw;
  display: grid;
  justify-content: center;
}
.header {
  width: 90vw;
  display: flex;
  margin: 10px 20px 10px 20px;
  justify-content: space-evenly;
}
/* Nav component */
.nav {
  @media (min-width: 875px){
    display: flex; gap: 18px; text-wrap: nowrap; margin: 14px 0 10px 0;
  }
  @media (max-width: 875px){
    visibility: hidden;
    display: none;
  }
}

.navButton {
  @media (min-width: 875px){
   visibility: hidden;
   display: none;
  }
  @media (max-width: 875px){
    margin: 14px 0 10px 0;
  }
}

.navButtonOpen {
  @media (min-width: 875px){
    visibility: hidden;
    display: none;
   }
   @media (max-width: 875px){
     margin: 14px 0 10px 0;
   }
}

/*<------Home Page------------>*/
/*Hero Section CSS*/

@media screen and (min-width: 875px) {
  .heroArticle {
    height: 270px; background-color: var(--csGreen); margin: 0;
  }
  .heroContents {
    display: flex; justify-content: space-evenly;
  }
}
@media screen and (max-width: 875px) {
  .heroArticle {
    height: 500px; background-color: var(--csGreen); padding: 20px 0 0 0;
  }
  .heroContents {
    display: grid; justify-content: center;
  }
}
/*Hero Text Section*/
.heroTextSection {
  @media (max-width: 875px){
    width: 100vw;
    display: grid;
    justify-items: center;
  }
  @media (min-width: 875px){
   width: 270px;
   text-align: left;
  }
}
.heroHeading {
  font-size: 4rem; color: var(--csYellow);
  margin: 0; padding: 30px 0 0 0; text-wrap: nowrap;
  line-height: 0.3;
}
.heroSubHeading {
  font-size: 2rem;
  margin: 0; padding: 0;
  color: var(--csGrey);
}
.heroDescription {
  font-size: 17px;
  width: 300px;
  margin: 0; text-wrap: wrap; margin: 20px 0 20px 0;
  color: var(--csGrey);
}
.heroButton {
  font-size: 15px;
  border-radius: 12px; border: none; padding: 5px;
  text-align: center;
  width: 150px;
  background-color: var(--csYellow);
  text-decoration: none;
  color: var(--csBlack)
}
.heroButton:hover {
  background-color: var(--csPeach);
}
/*Hero Image Section*/
@media screen and (max-width: 875px){
  .heroImageSection {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 875px){
  .heroImageSection {
    margin: 20px 0 0 0;
  }
}

.heroImage {
  border-radius: 16px;
  @media (min-width: 875px){
    height: 280px;
    width: 270px;
    object-fit: cover;
  }
  @media (max-width: 875px){
    height: 280px;
    width: 90%;
    object-fit: cover;
  }
}

/*Promotional Section*/
/*Promotional Text Section*/
.proArticle {
  margin: 80px 0 80px 0;
}

.proArticleTextSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.proArticleTextButton {
  padding: 10px 40px 10px 40px;
  margin: 0;
  border: none;
  font-size: 15px;
  border-radius: 16px;
  background-color: var(--csYellow);
  text-wrap: nowrap;
}
.proArticleTextButton:hover {
  background-color: var(--csGreen);
  color: var(--csGrey);
  cursor: pointer;
}
/*Promotional Card Section*/
.proArticleCardSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  margin-top: 40px;
}

/* Testimonial Section */
.testimonialBody {
  background-color: var(--csGreen);
  padding: 40px 0 100px 0;
  margin: 0 0 100px 0;
  display: grid;
  justify-content: center;
}
.testimonialBodyTitle {
  text-align: center;
  font-size: 24px;
  color: var(--csYellow);
}
.testimonialCardSection {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  margin: 40px;
}
.testimonialCard {
  width: 150px;
  background-color: var(--csGrey);
  color: var(--csGrey);
  padding: 10px 10px 30px 10px;
  border-radius: 16px;
}

/* ReservationTable Component */
.reservationTableSection {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 20px 100px 20px;
  gap: 40px;
  justify-content: space-evenly;
  text-align: left;
  align-items: center;
}
.reTextTitle {
  font-size: 4rem;
  margin: 0;
  color: var(--csYellow);
}
.reTextDescription {
  font-size: 1rem;
  margin: 0;
  width: 300px;
  color: var(--csBlack);
  margin-bottom: 30px;
}
.reLinkButton {
  background-color: var(--csYellow);
  color: var(--csBlack);
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 16px;
}
.reLinkButton:hover {
  background-color: var(--csGreen);
  color: var(--csGrey);
}
.reImageBox{
  @media (min-width: 875px){
    width: 500px;
    height: 500px;
  }
  @media (max-width: 875px){
    width: 300px;
    height: 300px;
  }
  overflow: hidden;
  position: relative;
}
.reImage {
  @media (min-width: 875px){
    width: 300px;
    height: 300px;
  }
  @media (max-width: 875px){
    width: 200px;
    height: 200px;
  }

  object-fit: cover;
  border-radius: 16px;
}
.leftReImage {
  position: absolute;
}
.rightReImage {
  @media (min-width: 875px){
    padding: 200px 0 0 200px;
  }
  @media (max-width: 875px){
    padding: 100px 0 0 100px;
  }
  position: absolute;
}


